DirectoryIndex home.php
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^home$ home.php [QSA,L,NC]
RewriteRule ^marketing-politico$ marketing-politico.php [QSA,L,NC]
RewriteRule ^quem-somos$ quem-somos.php [QSA,L,NC]
RewriteRule ^curso\/([0-9A-z_-]+)$ curso.php?slug=$1 [QSA,L,NC]
RewriteRule ^cursos$ cursos.php [QSA,L,NC]
RewriteRule ^servicos$ servicos.php [QSA,L,NC]
RewriteRule ^servico\/([0-9A-z_-]+)$ servico.php?slug=$1 [QSA,L,NC]