DirectoryIndex home.php
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^home$ home.php [QSA,L,NC]
RewriteRule ^quemsomos$ quemsomos.php [QSA,L,NC]
RewriteRule ^products$ products.php [QSA,L,NC]
RewriteRule ^product\/([0-9A-z_-]+)$ product.php?slug=$1 [QSA,L,NC]
RewriteRule ^blog\/([0-9A-z_-]+)$ blog.php?slug=$1 [QSA,L,NC]