/* icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;800&display=swap');

.carousel-3D-swiper-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  overflow: hidden;
  min-height: 500px;
}

.carousel-3D-swiper-title {
  text-align: center;
  font-size: 3rem;
  color: orangered;
}

.carousel-3D-swiper {
  width: 100% !important;
}

.shadow1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.shadow2 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.carousel-3D-swiper .swiper-slide {
  position: relative;
}

.carousel-3D-swiper .image-wrapper {
  overflow: hidden;
  max-height: 225px;
}

.swiper-slide-active .details {
  background-color: rgba(255, 133, 30, 0.8);
}

.swiper-slide-active:hover .details {
  height: 70% !important;
  background-color: rgba(255, 133, 30, 0.84);
}

.swiper-slide-active .details span,
.swiper-slide-active .details h3 {
  color: white;
}

.details {
  transition: 0.3s;
  padding: 25px 20px;
  font-weight: 600;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.7);
}

.details span {
  display: block;
  font-size: 16px;
  color: #f44336;
}

.details h3 {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.1;
}

.details p {
  margin: 8px 0 0;
  opacity: 0.65;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.carousel-3D-swiper-section .swiper-pagination-bullet {
  margin: 0 4px;
  width: 16px;
  height: 16px;
  z-index: 50;
}

.carousel-3D-swiper-section .swiper-pagination-bullet-active {
  opacity: 1;
  background: orange;
}


body {
  font-family: -apple-system, 'Inter', sans-serif;
}

.hero {
  padding-top: 80px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
}

.btn_whats {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background: green;
  padding: 20px;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 2;
}

.form {
  background: url(../img/conosco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cursos {
  background: url(../img/conosco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fadeInUp {
  animation: fadeInUp 1s ease backwards;
}

@keyframes fadeInUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

.box {
  animation-delay: 0.3s;
}

.header-banner {
  background-image: url(../img/banner-politico.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.custom-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.counter {
  font-weight: 800;
  color: #ff851e;
  font-size: 90px;
  line-height: 0.7;
}

.counter:after {
  content: ' anos no mercado de polpas de frutas.';
  color: #00284a;
  font-size: 57px;
}

#intro {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.button-style {
  width: 300px;
  height: 50px;
  background: orange;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
  line-height: 50px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.button-style:hover {
  background: #ff851e;
}

.button-style a {
  text-decoration: none;
  color: #fdfdfd;
}

.leia-mais-link {
  color: #00284a;
  padding-bottom: 4px;
  border-bottom: 2px solid #00284a;
  transition: border-bottom 0.3s ease;

}

.leia-mais-link:hover {
  color: #ff851e;
  border-bottom-color: #ff851e;
}

.container {
  position: relative;
  padding: 10px;
  text-align: left;
  line-height: 2;
  color: rgb(0, 0, 0);
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/polpaquemsomos.png');
  background-color: darkgreen;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}


#mobile-menu-2 li a {
  display: inline-block;
  text-decoration: none;
  color: #1F2937;
}

#mobile-menu-2 li a:hover {
  color: black;
}


#mobile-menu-2 li a:after {
  display: block;
  content: '';
  width: inherit;
  border-bottom: solid 3px orangered;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#mobile-menu-2 li a:hover:after {
  transform: scaleX(1);
}

/* #mobile-menu-2 li a.from-left:after {
  transform-origin: left;
} */


.video {
  position: absolute;
  z-index: -2;
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up h1 {
  text-shadow: #000 1px 1px;
}

.blog-image {
  max-width: 100%;
  height: auto;
  width: 350px;
}

.same-size-image {
  width: 200px;
  /* Defina a largura desejada para todas as imagens */
  height: 200px;
  /* Defina a altura desejada para todas as imagens */
  object-fit: cover;
  /* Garante que a imagem cubra o contêiner, mantendo suas proporções */
}

header {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.banners {
  font-family: 'Raleway', sans-serif;
}

.header-institucional {
  font-family: 'Raleway', sans-serif;
  /* background-image: url('../img/banner_pagina_Institucional.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
}

/* Definindo a classe para aplicar o efeito fade-in-up */
.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}